.aboutMe_section {
    //width: 80%;
    margin: 0vh auto 25vh;
    padding-top: 15vh;
    .content-wrapper {
        width: 80%;
        margin: 0 auto;
        h5 {
            //font-family: 'Lexend Deca', sans-serif;
            font-family: 'Plus Jakarta Sans', sans-serif;
            font-family: 'Inter', sans-serif;
            font-family: 'Onest', sans-serif;
            font-size: 2.5rem;
            font-weight: 600;
            margin-bottom: 1rem;
            word-spacing: 4px;
        }
        .text-container {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            .description_text {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                .paragraph {
                    font-size: 20px;
                    font-size: 2.5rem;
                    font-weight: 500;
                    //font-size: 60px;
                    //font-size: 2.25rem;
                    //line-height: 1;
                    //line-height: 1.3;
                    //padding: 40px;
                    //max-width: 1280px;
                    color: rgba(225, 225, 225, 1);
                    width: 75%;
                    margin-top: 25vh;
                    text-wrap: pretty;
                    text-align: left;
                    display: flex;
                    flex-wrap: wrap;
                    &:first-of-type {
                        margin-top: 1rem;
                    }
                    &:nth-of-type(2),
                    &:nth-of-type(4) {
                        text-align: right;
                        align-self: flex-end;
                        justify-content: flex-end;
                    }
                    .word {
                        // font-family: 'Inter', sans-serif;
                        //font-family: 'Geist', sans-serif;
                        font-family: 'Plus Jakarta Sans', sans-serif;
                        font-family: 'Onest', sans-serif;
                        position: relative;
                        margin-right: 10px;
                        margin-top: 3px;
                        .shadow {
                            position: absolute;
                            opacity: 20%;
                        }
                    }
                }
            }
        }
        .skills-showcase-wrapper {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
            margin: 20vh 0 0;
            h5 {
                font-family: "SUSE", sans-serif;
                font-size: 2.25rem;
                font-weight: 600;
                letter-spacing: 0.25px;
                width: 15%;
                width: auto;
                text-wrap: nowrap;
                display: flex;
                justify-content: flex-start;
            }
            aside {
                width: 80%;
                display: flex;
                justify-content: flex-end;
                flex-wrap: wrap;
                gap: 6px;
                .button {
                    font-size: 18px;
                    font-weight: 600;
                    letter-spacing: 0.6px;
                    background-color: rgb(25, 25, 25);
                    border-radius: 50px;
                    min-width: 6.25vw;
                    text-align: center;
                    position: relative;
                    overflow: hidden;
                    padding: 16px 22px;
                    margin-bottom: 8px;
                    border: 1px solid rgba(125, 125, 125, 0.25);
                    user-select: none;
                    transition: .35s cubic-bezier(.33, 1, .68, 1);
                    cursor: pointer;
                    .primary {
                        font-family: "Barlow", sans-serif;
                        top: 0;
                        position: relative;
                        will-change: top;
                        transition: top .35s cubic-bezier(.33, 1, .68, 1);
                    }
                    .secondary {
                        position: absolute;
                        top: 110%;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        will-change: top;
                        transition: top .35s cubic-bezier(.33, 1, .68, 1);
                        p {
                            font-family: "SUSE", sans-serif;
                            position: absolute;
                        }
                        div {
                            width: 60%;
                            height: 100%;
                            border-radius: 50%;
                            transition: all .35s cubic-bezier(.33, 1, .68, 1);
                        }
                    }
                    &:hover {
                        box-shadow: 11px 11px 38px rgba(125, 125, 125, 0.0880409);
                        .primary {
                            top: -40px;
                        }
                        .secondary {
                            top: 0;
                            div {
                                width: 100%;
                                border-radius: 100px;
                            }
                        }
                    }
                }
            }
        }
    }
}