//! FOOTER
footer {
    background-color: #FFFAFA;
    color: #000;
    font-family: var(--font-onest), sans-serif;
    height: 67.5vh;
    position: relative;
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .footer_content-container {
        position: relative;
        height: calc(100vh + 67.5vh);
        width: 100%;
        //top:-100vh;
        top: 0vh;
        .footer_content-wrapper {
            position: fixed;
            height: 67.5vh;
            top: calc(100vh - 67.5vh);
            width: 100%;
            margin: 0 auto;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            flex-direction: column;
            article {
                width: 80%;
                display: flex;
                flex-direction: row-reverse;
                align-items: center;
                justify-content: space-between;
                div {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    .heading {
                        font-family: var(--font-onest), sans-serif;
                        font-size: 3rem;
                        font-weight: 400;
                        letter-spacing: -0.5px;
                        color: rgb(145, 145, 145);
                        span {
                            font-size: 3rem;
                            font-weight: 500;
                            color: #000;
                            user-select: auto;
                        }
                    }
                    .subHeading {
                        font-family: var(--font-onest), sans-serif;
                        font-size: 3rem;
                        font-weight: 400;
                        letter-spacing: -0.5px;
                        cursor: wait;
                        color: rgb(145, 145, 145);
                        span {
                            font-size: 3rem;
                            font-weight: 500;
                            color: #000;
                            user-select: auto;
                        }
                    }
                    span {
                        font-family: var(--font-onest), sans-serif;
                        font-size: 2.75rem;
                        font-weight: 400;
                        margin: 0.25rem 0;
                        user-select: none;
                        color: rgb(145, 145, 145);
                    }
                }
            }
            main {
                width: 85%;
                .footer-links {
                    margin: 1rem auto 0.25rem;
                    display: flex;
                    justify-content: flex-end;
                    gap: 2rem;
                    .links-wrapper {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 2rem;
                        .footer-link {
                            font-size: 20px;
                            font-weight: 500;
                            padding: 2px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            will-change: transform, opacity;
                            transition: all 0.3s ease, border 0s;
                            &::after {
                                content: '';
                                position: absolute;
                                width: 100%;
                                height: 2px;
                                left: 50%;
                                bottom: 0;
                                transform: translate(-50%, -50%) scale(0);
                                background-color: rgb(50, 50, 50);
                                background-color: #FFF;
                                will-change: transform;
                                transition: color 0.35s ease, transform 0.35s ease;
                            }
                            .arrow-icon {
                                color: rgb(115, 115, 115);
                                margin-left: 0.25rem;
                                will-change: transform;
                                transition: .35s ease;
                            }
                            &:hover {
                                color: rgb(100, 100, 100);
                                transform: translateY(-3px);
                                &::after {
                                    transform: translate(-50%, -50%) scale(1);
                                    background-color: rgb(50, 50, 50);
                                }
                                .arrow-icon {
                                    transition: transform .3s ease;
                                    transform: translate(3px, -3px);
                                    color: #000;
                                }
                            }
                        }
                    }
                }
                //! Bottom
                .summary {
                    border-top: 1px solid rgb(115, 115, 115);
                    padding-top: 0.4rem;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    .info {
                        font-size: 18px;
                        letter-spacing: -0.25px;
                        font-weight: 500;
                        color: #000;
                        align-items: center;
                        justify-content: flex-start;
                        .colon {
                            margin: 0 1px;
                            animation: blink 1s infinite forwards;
                        }
                    }
                    .footer-email-link {
                        font-size: 20px;
                        font-weight: 500;
                        letter-spacing: 0.25px;
                        padding: 2px 0.25rem;
                        user-select: auto;
                        display: flex;
                        justify-content: flex-end;
                        color: #000;
                        transition: .3s ease;
                        &:hover {
                            color: rgb(50, 50, 50);
                        }
                    }
                }
            }
        }
    }
}

.footer-links:has(.footer-link:hover) {
    .footer-link:not(:hover) {
        opacity: 0.5;
        filter: blur(1.75px);
        transition: all 0.4s ease !important;
    }
}

@keyframes blink {
    0%,
    100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

//? BREAKPOINT - 1536 x 864
@media screen and (max-width: 1600px) {
    footer .footer_content-container {
        .footer_content-wrapper {
            justify-content: center;
            article {
                width: 90%;
                div {
                    .heading,
                    .subHeading {
                        font-size: 2.75rem;
                        span {
                            font-size: 2.75rem;
                        }
                    }
                }
            }
            main {
                width: 90%;
            }
        }
    }
}

//? macbook
@media screen and (max-width: 1370px) {
    footer {
        height: 75vh;
        .footer_content-container {
            height: calc(100vh + 75vh);
            .footer_content-wrapper {
                height: 75vh;
                top: calc(100vh - 75vh);
                article {
                    div {
                        .heading,
                        .subHeading {
                            font-size: 2.5rem;
                            span {
                                font-size: 2.5rem;
                            }
                        }
                    }
                    #footer_svg {
                        //width: 45%;
                    }
                }
            }
        }
    }
}

//? S - laptops
@media screen and (max-width: 1285px) {
    footer {
        .footer_content-container {
            .footer_content-wrapper {
                article {
                    div {
                        .heading,
                        .subHeading {
                            font-size: 2.25rem;
                            span {
                                font-size: 2.25rem;
                            }
                        }
                    }
                }
                main {
                    width: 92.5%;
                    .footer-links .links-wrapper .footer-link {
                        margin-left: 1.5rem;
                        font-size: 18px;
                    }
                }
            }
        }
    }
}

//? smartphones
@media screen and (max-width: 750px) {
    footer {
        height: auto;
        position: relative;
        clip-path: none;
        .footer_content-container {
            position: relative;
            height: auto;
            top: 0;
            .footer_content-wrapper {
                position: static;
                height: auto;
                article {
                    flex-direction: column-reverse;
                    div {
                        margin-top: 5vh;
                        span {
                            font-weight: 300;
                        }
                        .heading {
                            font-size: 2rem;
                            span {
                                font-size: 2rem;
                            }
                        }
                        .subHeading {
                            font-size: 2rem;
                            span {
                                font-size: 2rem;
                            }
                        }
                    }
                    #footer_svg {
                        width: 82.5%;
                        height: 25vh;
                        margin-top: 2.5vh;
                    }
                }
                main {
                    width: 97.5%;
                    .footer-links {
                        justify-content: space-between;
                        gap: 0.5rem;
                        .links-wrapper {
                            width: 50%;
                            justify-content: space-around;
                            gap: 0.5rem;
                            .footer-link {
                                font-size: 16px;
                                margin-left: 0rem;
                            }
                        }
                    }
                    .summary {
                        margin-bottom: 0.75rem;
                        width: 97.5%;
                        margin: 0 auto 0.75rem;
                        .info {
                            font-size: 14px;
                            letter-spacing: -0.5px;
                            .colon {
                                font-size: 14px;
                            }
                        }
                        .footer-email-link {
                            font-size: 15px;
                            letter-spacing: 0px;
                        }
                    }
                }
            }
        }
    }
}