.introduction_section {
    height: 100vh;
    //background-image: url('/bgc2.png');
    background-image: url('/bgc2.jpg');
    background-size: cover;
    background-position: bottom;
    position: relative;
    will-change: transform; // For elements that will animate
    transform: translateZ(0); // Force GPU acceleration
    backface-visibility: hidden;
    main {
        z-index: 10;
        position: relative;
        padding-top: 12.5vh;
        margin: 0 auto;
        width: 80%;
    }
    .avatar_image {
        object-fit: cover;
        border-radius: 50%;
        height: 250px;
        width: 250px;
        aspect-ratio: 1/1;
        margin-bottom: 1.25rem;
    }
    h2,
    h3 {
        font-family: 'Geist', sans-serif;
        font-size: calc(3.75rem + 4px);
        font-weight: 600;
        letter-spacing: -0.5px;
        line-height: 1.22;
        background: linear-gradient(to right, #fff 10%, rgb(0, 0, 255));
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }
    h3 {
        //font-family: 'SUSE', sans-serif;
        font-family: 'Plus Jakarta Sans', sans-serif;
        font-size: 3.5rem;
        letter-spacing: -1px;
        display: flex;
        align-items: center;
        gap: 1rem;
        .icon_image {
            height: 50px;
            width: 50px;
            border-radius: 8px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            transition: transform 0.2s ease;
            &:hover {
                transform: scale(1.05);
            }
        }
    }
    .subHeading {
        color: rgb(185, 185, 185);
        margin: 1rem 0 2rem;
        //font-family: 'Plus Jakarta Sans', sans-serif;
        //font-family: 'Lexend Deca', sans-serif;
        //font-family: 'Inter', sans-serif;
        font-family: var(--font-inter);
        font-size: 20px;
        font-weight: 500;
        line-height: 1.45;
        width: 60%;
        min-width: 800px;
        text-wrap: balance;
    }
    .buttons-wrapepr {
        display: flex;
        gap: 1.25rem;
        button {
            height: 3rem;
            padding: 1.5rem;
            display: flex;
            justify-content: center;
            align-items: center;
            outline: none;
            border: none;
            font-size: 16px;
            font-weight: 600;
            letter-spacing: -0.5px;
            cursor: pointer;
        }
        .download_button {
            font-family: 'SUSE', sans-serif;
            letter-spacing: -0.25px;
            border-radius: 12px;
            display: flex;
            align-items: center;
            border: 1px solid transparent;
            transition: .18s ease-in-out;
            &:hover {
                background-color: rgb(30, 30, 30);
                color: #fff;
                border-color: rgb(50, 50, 50);
            }
        }
        .projects {
            padding: 25px;
            // background-color: #c8edc4;  //color: #218d0b;
            position: relative;
            border-radius: 50px;
            padding-left: 2.25rem;
            background-color: rgb(0, 0, 125);
            color: lightblue;
            overflow: hidden;
            transition: .275s ease-in-out;
            z-index: 10;
            &::before {
                content: '';
                position: absolute;
                top: 50%;
                left: 1.25rem;
                transform: translate(0%, -50%);
                height: 8px;
                width: 8px;
                border-radius: 50%;
                background-color: lightblue;
                z-index: -1;
                transition: .3s ease-in-out;
            }
            &:hover {
                //border-color: rgb(45, 154, 201);
                //border-color: rgb(55, 129, 161);
                color: rgb(0, 0, 125);
                &::before {
                    transform: scale(75);
                }
            }
        }
    }
}