.projects_section {
    width: 80%;
    width: 100%;
    margin: 0 auto;
    padding-top: 15vh;
    // to remove
    // height: 100vh;
    h5 {
        // font-family: 'Lexend Deca', sans-serif;
        //font-family: 'Plus Jakarta Sans', sans-serif;
        //font-family: 'Inter', sans-serif;
        font-family: 'Onest', sans-serif;
        letter-spacing: 0.25px;
        font-size: 3rem;
        font-weight: 600;
        width: 80%;
        margin: 0 auto;
    }
    .subHeading {
        //font-family: 'Plus Jakarta Sans', sans-serif;
        //font-family: 'Geist', sans-serif;
        //font-family: 'Inter', sans-serif;
        font-family: 'Barlow', sans-serif;
        letter-spacing: -0.25px;
        font-size: 20px;
        font-weight: 300;
        font-weight: 400;
        line-height: 1.3;
        width: 80%;
        margin: 0 auto;
        color: rgb(125, 125, 125);
        text-wrap: balance;
        text-align: justify;
    }
    .projects-spotlight-container {
        width: 80%;
        margin: 4rem auto 0;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: flex-start;
        gap: 1rem;
        .project-wrapper {
            width: calc(50% - 1.25rem);
            &:nth-of-type(1) .project-card {
                //background-color: #9300a7;
                background: linear-gradient(0deg, rgb(15, 15, 15) 0%, #001a4d 100%);
            }
            &:nth-of-type(2) .project-card {
                //background-color: rgb(170, 255, 0);
                background: linear-gradient(120deg, rgb(131, 10, 10) 0%, #ff61a6 60%, #fff700 100%);
            }
            &:nth-of-type(3) .project-card {
                background: linear-gradient(135deg, #FC466B, #3F5EFB);
            }
            &:nth-of-type(4) .project-card {
                //background-color: #bd00ff;
                //background: linear-gradient(135deg, rgb(170, 255, 0), rgb(0, 0, 255), rgb(128, 255, 0));
                background: linear-gradient(135deg, rgb(170, 255, 0) 0%, #00eaff 100%);
            }
            .project-card {
                height: 27.5rem;
                position: relative;
                overflow: hidden;
                border-radius: 34px;
                cursor: pointer;
                transition: transform 0.35s ease-in-out, box-shadow 0.35s ease-in-out;
                &:hover {
                    transform: translateY(-5px);
                    box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 20px, rgba(0, 0, 0, 0.22) 0px 6px 6px;
                }
                img {
                    position: absolute;
                    top: 112.5%;
                    left: 57.5%;
                    transform: translate(-50%, -50%);
                    border-radius: 14px;
                    width: auto;
                    height: auto;
                    object-fit: contain;
                }
            }
            p {
                font-family: 'SUSE', sans-serif;
                font-size: 1.5rem;
                font-weight: 500;
                margin: 10px 0 1.5rem;
                margin-left: 4px;
            }
        }
    }
    .projects-gallery {
        padding: 12.5vh 0 20vh;
        color: #fff;
        display: flex;
        height: auto;
        align-items: flex-start;
        justify-content: center;
        //position: relative;
        //overflow-x: hidden;
        .projects-gallery-container {
            overflow-x: hidden;
            width: 80%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        .project-link {
            width: 100%;
        }
        .project {
            color: #000;
            color: #fff;
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;
            //! 50px 75px
            padding: 5vh 70px;
            padding: 2.25rem 3.5rem;
            //padding-left: calc(70px - 0.5rem);
            border-bottom: 1px solid rgb(75, 75, 75);
            cursor: pointer;
            transition: 0.4s ease;
            &:first-of-type {
                border-top: 1px solid rgb(75, 75, 75);
            }
            .name-wrapper {
                display: flex;
                align-items: center;
                justify-content: center;
                will-change: transform;
                transition: 0.4s ease;
                span {
                    display: block;
                    font-size: 50px;
                    opacity: 0;
                    margin-right: 0.5rem;
                    width: 4.25rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    user-select: none;
                    will-change: opacity;
                    transition: 0.4s ease;
                }
                h3 {
                    font-family: "SUSE", system-ui;
                    font-size: 60px;
                    font-size: 2.5rem;
                    font-weight: 400;
                    letter-spacing: 0.75px;
                    color: rgb(225, 225, 225);
                    margin: 0px;
                    user-select: none;
                    transition: 0.4s ease;
                }
            }
            p {
                font-family: "Albert Sans", sans-serif;
                font-family: "SUSE", system-ui;
                font-weight: 400;
                color: rgb(225, 225, 225);
                user-select: none;
                will-change: transform;
                transition: 0.4s ease;
            }
            &:hover {
                border-bottom: 1px solid rgb(255, 255, 255);
                .name-wrapper {
                    transform: translateX(-20px);
                    opacity: 1;
                    h3 {
                        opacity: 0.5;
                    }
                    span {
                        transition: all 0.4s ease;
                        opacity: 0.75;
                    }
                }
                p {
                    transform: translateX(20px);
                    opacity: 0.5;
                }
            }
        }
        .modalContainer {
            //height: 350px;
            //width: 400px;
            height: 35vh;
            width: 22.5vw;
            position: absolute;
            //background-color: white;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
            pointer-events: none;
            will-change: transform;
            .modalSlider {
                height: 100%;
                width: 100%;
                position: absolute;
                will-change: top;
                transition: top 0.5s cubic-bezier(0.76, 0, 0.24, 1);
                .modal {
                    height: 100%;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    img {
                        object-fit: cover;
                        height: auto;
                        aspect-ratio: 1.4/1;
                        object-position: top;
                        border-radius: 10px;
                        will-change: object-position;
                        transition: 0.05s;
                        transition-delay: 0.4s;
                        &.active {
                            object-position: bottom;
                            transition: 2.75s ease-in-out;
                            transition-delay: 0.4s;
                        }
                    }
                }
            }
        }
        .cursor-gallery,
        .cursorLabel {
            font-size: 15px;
            font-weight: 300;
            letter-spacing: 1.75px;
            text-transform: uppercase;
            background-color: rgb(0, 0, 140);
            color: #fff;
            width: 75px;
            height: 75px;
            border-radius: 50%;
            position: absolute;
            z-index: 1001;
            display: flex;
            align-items: center;
            justify-content: center;
            pointer-events: none;
        }
        .cursorLabel {
            background-color: transparent;
        }
    }
}