.projects_section {
    width: 80%;
    margin: 0 auto;
    padding-top: 15vh;
    // to remove
    height: 100vh;
    h5 {
        // font-family: 'Lexend Deca', sans-serif;
        font-family: 'Plus Jakarta Sans', sans-serif;
        font-size: 2rem;
        font-weight: 600;
        margin-bottom: 0.5rem;
    }
    .subHeading {
        //font-family: 'Plus Jakarta Sans', sans-serif;
        font-family: 'Geist', sans-serif;
        font-size: 20px;
        font-weight: 300;
        line-height: 1.35;
        width: 50%;
        color: rgb(200, 200, 200);
        text-wrap: balance;
        text-align: justify;
    }
}