.technologies_section {
    width: 80%;
    margin: 0 auto;
    padding-top: 15vh;
    padding-bottom: 17.5vh;
    // to remove
    // height: 100vh;
    h5 {
        //font-family: 'Lexend Deca', sans-serif;
        font-family: 'Plus Jakarta Sans', sans-serif;
        font-family: 'Inter', sans-serif;
        font-family: 'Onest', sans-serif;
        letter-spacing: 0.25px;
        font-size: 3.5rem;
        font-weight: 600;
    }
    .subHeading {
        //font-family: 'Geist', sans-serif;
        font-family: 'Inter', sans-serif;
        font-family: 'Barlow', sans-serif;
        letter-spacing: -0.25px;
        font-size: 20px;
        font-weight: 300;
        font-weight: 400;
        line-height: 1.3;
        width: 50%;
        color: rgb(125, 125, 125);
        text-wrap: balance;
        text-align: justify;
    }
    .marquee-container {
        position: relative;
        overflow: hidden;
        width: 100%;
        margin: 4rem 0;
        &::before,
        &::after {
            content: "";
            position: absolute;
            pointer-events: none;
            z-index: 1;
            top: 0;
            left: 0;
            height: 100%;
            width: 12.5%;
            background: linear-gradient(270deg, hsla(0, 0%, 100%, 0), rgb(12, 12, 12));
        }
        &::after {
            left: unset;
            right: 0;
            background: linear-gradient(90deg, hsla(0, 0%, 100%, 0), rgb(12, 12, 12));
        }
        .marquee {
            display: flex;
            flex-direction: row;
            width: max-content;
            gap: 6rem;
            padding: 1rem;
            animation: marquee-animation 28s linear infinite forwards;
            &:hover {
                animation-play-state: paused;
                // animation-duration: 120s;
            }
            .technology-item {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 0.5rem;
                padding: 0.5rem;
                cursor: pointer;
                will-change: transform;
                transition: transform .3s ease;
                transition-delay: 0.075s;
                img {
                    object-fit: contain;
                    filter: grayscale(65%);
                    transition: 0.3s ease;
                    transition-delay: 0.075s;
                    &:hover {
                        filter: grayscale(0%);
                    }
                }
                .tech-name {
                    font-family: 'Lexend Deca', sans-serif;
                    font-family: 'Geist', sans-serif;
                    font-size: 16px;
                    color: rgb(200, 200, 200);
                    opacity: 0.75;
                    text-wrap: nowrap;
                    letter-spacing: -0.25px;
                    transition: .3s ease;
                    transition-delay: 0.075s;
                }
                &:hover {
                    transform: scale(1.14);
                    .tech-name {
                        color: #FFF;
                    }
                }
            }
        }
    }
    .technologies-wrapper {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 6rem auto 0;
        gap: 1rem;
        gap: 1.25rem;
        .tech-card {
            flex-grow: 2;
            z-index: 1;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            background-color: rgba(30, 30, 30, 0.925);
            //border: 1px solid rgb(95, 95, 95);
            border-radius: 14px;
            padding: 0.75rem 0.5rem;
            height: 10rem;
            width: auto;
            aspect-ratio: 2 / 1.45;
            //transition: .275s ease;
            //transition-delay: .075s;
            &::before {
                content: '';
                position: absolute;
                inset: 1px;
                z-index: -1;
                background: linear-gradient(-217.25deg, rgb(24, 24, 24) 3.87%, rgb(12, 12, 12) 78.12%);
                border-radius: 14px;
            }
            &::after {
                content: '';
                position: absolute;
                inset: 0;
                background-image: linear-gradient(-180deg, rgb(75, 75, 75) -4.43%, rgba(12, 12, 12, 1) 70.02%);
                border-radius: 14px;
                opacity: .4;
                z-index: -2;
            }
            &:hover {
                //background-color: rgba(40, 40, 40, 1);
                //transform: translateY(-4px);
                p {
                    color: #FFF;
                }
                img {
                    filter: grayscale(0%);
                }
            }
            p {
                font-family: 'Lexend Deca', sans-serif;
                font-size: 22px;
                font-weight: 400;
                line-height: 1;
                user-select: none;
                color: rgb(210, 210, 210);
                transition: .275s ease;
                transition-delay: .075s;
            }
            img {
                top: 40%;
                left: 50%;
                transform: translate(-50%, -50%);
                position: absolute;
                object-fit: contain;
                height: 47.5%;
                width: 47.5%;
                filter: grayscale(40%);
                transition: .275s ease;
                transition-delay: .075s;
            }
        }
    }
}

@keyframes marquee-animation {
    to {
        transform: translateX(calc(-50% - 1.5rem));
    }
}